@media only screen and (min-width: 566px) {
    #lista-links-superior {
        display: flex;
    }

    #lista-links-superior li, #lista-links-superior a {
        width: 40%;
    }

    .esconder-coluna-lista {
        display: block;
    }
}

@media only screen and (min-width: 847px) {
    .nav-superior {
        height: 90px;
    }

    .logo-superior {
        display: flex;
        position: relative;
        align-items: center;
        top: -10px;
        margin-left: 10px;
    }

    .logo-superior img {
        width: 180px;
    }

    .logo-superior {
        top: -18px;
        margin-left: 10px;
    }

    .nav-links-superior>i {
        display: none;
    }

    .nav-links-superior {
        width: 70%;
    }

    #lista-links-superior {
        display: flex;
        position: static;
        height: auto;
        flex-wrap: nowrap;
        background: none; 
        margin-top: -10px;
    }

    #lista-links-superior li {
        display: flex;
        align-items: center;
        width: auto; 
        height: 87px;
        margin-right: 25px;
    }

    #lista-links-superior a, #lista-links-superior i {
        font-size: 18px;
    }

    #lista-links-superior li:hover {
        border-bottom: 4px solid #ffffff;
    }
}

@media only screen and (min-width: 1025px) {
    #menu-superior {
        display: none;
    }

    #menu-lateral {
        display: block;
        position: fixed;
        width: 280px;
        height: 100vh;
    }

    #rodape {
        margin-left: 280px;
        width: calc(100% - 280px);
    }


    main {
        width: calc(100% - 280px);
    }

    .titulo {
        margin-top: 0px;
        width: 100%;
        height: 350px;
        background: #88eaee url('../imagens/bg-titulo.png') center / cover no-repeat;
        color: #fff;
    }

    main {
        margin-left: 280px;
        width: calc(100% - 280px);
        flex: 1;
    }

    .table-container {
        width: 80%;
    }

    .display-6 {
        font-size: 30px;
    }

    .table-container table td:nth-child(2) a,
    .table-container table td:nth-child(1) p {
        font-size: 15px;
    }

    .table-container th {
        font-size: 16px;
    }

    footer p {
        font-size: 16px;
    }
}